<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	<header>
		<div class="container">
			<nav class="nav-left">Bookers</nav>
			<nav>
				<ul class="right">
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'About', 'home#about' %></li>
					<li><%= link_to 'sign up', new_user_registration_path %></li>
					<li><%= link_to 'login', new_user_session_path %></li>
				</ul>
			</nav>
		</div>
	</header>
	<h1>Welcome to Bookers!</h1>
	<footer>CopyRight Infratop.inc</footer>
</body>
</html>